@font-face {
	font-family: 'Pixel Font';
	src: url('/fonts/PixelifySans/PixelifySans-VariableFont_wght.woff2') format('woff2'),
	 	 url('/fonts/PixelifySans/PixelifySans-VariableFont_wght.woff') format('woff');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}