:root{
    --puple-100 : #6950e5;
    --purple-200: #8847c9;
    --purple-300: #7143bf;
    --purple-400: #5d3dad;
    --purple-500: #504ead;
    --purple-600: #42588c;
    --purple-700: #354e6e;

    --neutral-100:#ffffff;
    --neutral-200:#dddddd;
    --neutral-300:#999999;
    --neutral-400:#777777;
    --neutral-500:#555555;
    --neutral-600:#444444;
    --neutral-700:#333333;
    --neutral-800:#222222;
    --neutral-900:#111111;



    --skyblue-100:#b8bee0;
    --skyblue-200:#adb5e0;
    --skyblue-300:#99a3e0;
    --skyblue-400:#8d9ae0;
    --skyblue-500:#8290e0;
    --skyblue-600:#7585e0;
    --skyblue-700:#6c7de0;
    --skyblue-800:#5b6ee1;

    --cold-sea-100: #b8dbd977;
    --cold-sea-200:#586f7c77;
    --cold-sea-300:#2f455077;
    --cold-sea-400: #112A4677;

    --accent-color: rgb(179, 6, 6);
    
    --gradient-1: #9bafd977;
    --gradient-2: #10378377;

    --gradient-primary: linear-gradient(#9bafd977, #10378377);
    --gradient-primary-inv: linear-gradient(#10378377,#9bafd977);

    --gradient-secondary: linear-gradient(var(--primary-color), var(--secondary-color))




}
